@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.link{
  color: red;
}
body {
  font-family: 'Times New Roman', Times, serif;
  width: auto;
  color: #000000;
}

header {
  background-color: #221b1b;
  padding: 3% 0% 0% 0%;
}

.header__profile-picture {
  box-shadow: 10px 2px 30px 10px rgba(255, 0, 0, 0.6);
  width: 160px;
  height: auto;
  display: block;
  border-radius: 30%;
  margin: 2% auto 5% auto;
}

.header__title,
.header__subtitle {
  color: #ffffff;
  text-align: center;
  margin: 2%;
}

.header__social-media {
  text-align: center;
  background-color: rgb(0, 0, 0);
}

.header__social-media img {
  width: 30px;
  margin: 3%;
  padding: 1%;
  margin-right: 8%;
}

.header__social-media li {
  list-style: none;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  padding: 1%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.nav-bar-home, .nav-bar-contact {
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  background-color: #000000;
  font-size: 125%;
  font-weight: 100;
  height: 120%;
  padding: 1% 1% 1% 1%;
}

.nav-bar-home:hover, .nav-bar-contact:hover {
  background-color: #f95e5e;
}

.about-me {
  background-color: #221b1b;
  color: #ffffff;
  padding: 20px;
  border-right: solid 2px #ffffff;
}

.about-me__soft-skills,
.about-me__hard-skills {
  display: inline-block;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  vertical-align: top;
}

.about-me__soft-skills li:first-child,
.about-me__hard-skills li:first-child {
  color: #ffffff;
  text-decoration: underline;
  padding: 10px;
  font-weight: bold;
}

.other-jobs img {
  width: 100%;
  height: 75%;
  object-fit: cover;
}

.other-jobs {
  background-color: #221b1b;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  padding: 5%;
  
}

.other-jobs h3 {
  padding: 0% 1% 5% 0%;
}

.other-jobs__card-barbershop {
  width: 50%;
  height: 300px;
  background-color: rgb(105, 105, 105);
  overflow: hidden;
  border-radius: 5%;
  box-shadow: 1px 1px 20px 5px rgba(221, 250, 29, 0.6);
}

.other-jobs__card-barbershop a {
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.other-jobs__card-barbershop p {
  padding: 1px;
  font-size: 80%;  
}

.contact {
  width: 100%;
  height: fit-content;
  color: #ffffff;
  background-color: #000000;
  padding: 20px 10px 20px 10px;
  border-top: #ffffff solid 1px;
  border-bottom: #ffffff solid 1px;
}

.footer {
  background-color: #221b1b;
  color: #ffffff;
  text-align: center;
  width: 100%;
  height: fit-content;
  font-style: italic;
  font-size: 100%;
  padding: 20px 10px 20px 10px;
}