@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --color-main-background: hsl(0, 11%, 12%);
  --color-profille-picture-shadow: rgba(255, 0, 0, 0.6);
  --color-nav-bar-backgound: #000000;
  --color-nav-bar-hover: #868581;
  --color-fonts: #ffffff;

  --color-borders: #ffffff;
  --color-background-cards: rgb(113, 108, 108);
  --color-cards-shadow:  rgba(221, 250, 29, 0.6);

  --color-contact-fields-background: #5e5e56;
  --color-contact-fields-focus: #84847d;

}

*link {
  color: var(--color-fonts); 
}

*:visited {
  color: var(--color-fonts);
}

body {
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  color: var(--color-fonts);
  background-color: var(--color-main-background);
}

header {
  background-color: var(--color-main-background);
  padding-top: 1%;
  padding-bottom: 0%;
}

.header__profile-picture {
  box-shadow: 10px 2px 30px 10px var(--color-profille-picture-shadow);
  width: 160px;
  height: auto;
  display: block;
  border-radius: 30%;
  margin: 1% auto 3% auto;
}

.header__title,
.header__subtitle {
  color: var(--color-fonts);
  text-align: center;
  margin: 1% 1% 1% 1%;
}

.header__social-media {
  text-align: center;
  background-color: var(--color-nav-bar-backgound);
}

.header__social-media {
  margin: 0% 0% 0.2% 0%;
  padding: 0%;
}

.header__social-media img {
  width: 30px;
  margin: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.header__social-media li {
  list-style: none;
  display: inline-block;
  text-decoration: none;
  color: var(--color-fonts);
  padding-top: 1%;
  padding-bottom: 1%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.nav-bar-home, .nav-bar-contact {
  text-align: center;
  color: var(--color-fonts);
  text-decoration: none;
  background-color: var(--color-nav-bar-backgound);
  font-size: 125%;
  font-weight: 100;
  height: 120%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.nav-bar-home:hover, .nav-bar-contact:hover {
  background-color: var(--color-nav-bar-hover);
}

.about-me {
  background-color: var(--color-main-background);
  color: var(--color-fonts);
  padding: 2%;
  border-right: solid 2px var(--color-borders);
}

.about-me h3, .other-jobs h3 {
  padding: 1% 1% 1% 1%;
  text-align: center;
}

.about-me__soft-skills,
.about-me__hard-skills {
  display: inline-block;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  vertical-align: top;
}

.about-me__soft-skills li:first-child,
.about-me__hard-skills li:first-child {
  color: var(--color-fonts);
  text-decoration: underline;
  padding: 10px;
  font-weight: bold;
}

.other-jobs img {
  width: 100%;
  height: 75%;
  object-fit: cover;
}

.other-jobs {
  background-color: var(--color-main-background);
  color: var(--color-fonts);
  padding: 10px;
  text-align: center;
  padding: 2%;
  
}

.other-jobs__card-barbershop {
  width: 50%;
  height: 300px;
  background-color: var(--color-background-cards);
  overflow: hidden;
  border-radius: 5%;
  box-shadow: 1px 1px 20px 5px var(--color-cards-shadow);
}

.other-jobs__card-barbershop a {
  text-align: center;
  text-decoration: none;
  color: var(--color-fonts);
}

.other-jobs__card-barbershop p {
  padding: 1px;
  font-size: 80%;  
}

.contact {
  color: var(--color-fonts);
  background-color: var(--color-nav-bar-backgound);
  padding: 1%;
  border-top: var(--color-borders) solid 1px;
  border-bottom: var(--color-borders) solid 1px;
}

.footer {
  background-color: var(--color-main-background);
  color: var(--color-fonts);
  text-align: center;
  width: 100%;
  height: fit-content;
  font-style: italic;
  font-size: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.observations {
  font-style: italic;
  color: var(--color-fonts);
  margin-left: 1%;
}

/* Start CSS contact.html */

.body-contact {
  background-color: var(--color-main-background);
  color: var(--color-fonts);
}

.contact-header-form {
  margin-left: 1%;
}

input, select, textarea, button {
  border-radius: 2px;
  color: var(--color-fonts);
}

#contact-check {
  display: inline-block;
}

.contact-group:before, .contact-group:after {
  display: table;
}

.contact-group:after {
  clear: both;
}

.contact-field {
  margin-bottom: 2%;
}

.contact-field label {
  margin-bottom: 0.2em;
  color: var(--color-fonts);
  display: block;
}

fieldset.contact-group .contact-field {
  float: left;
  margin-right: 1em;
}

.contact-field input[type="text"], .contact-field input[type="email"], .contact-field input[type="tel"], .contact-field select, .contact-field textarea {
  padding: 0.2em;
  border: 1px solid var(--color-borders);
  box-shadow: 2px 2px 2px var(--color-profille-picture-shadow);
  display: block;
  background-color: var(--color-contact-fields-background);
}

.contact-field select option {
  padding-right: 1em;
}

.contact-field input:focus, .contact-field select:focus, .contact-field textarea:focus {
  background: var(--color-contact-fields-focus);
}

.contact-button {
  font-size: 1.2em;
  background: var(--color-nav-bar-backgound);
  border: 0;
  margin-bottom: 1em;
  color: var(--color-fonts);
  padding: 0.2em 0.6em;
  box-shadow: 2px 2px 2px var(--color-profille-picture-shadow);
  text-shadow: 1px 1px 1px var(--color-cards-shadow);
  position: relative;
  /* top: 80%;*/
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.contact-button:hover {
  background: var(--color-nav-bar-hover);
  box-shadow: inset 2px 2px 2px var(--color-profille-picture-shadow-nav-bar-hover);
  text-shadow: none;
}

.contact-button, select {
  cursor: pointer;
}

/* End of CSS contact.html */

/* Start CSS - Games */

#crossFreeway {
  align-content: center;
}

/* End CSS - Games */